
{{#with group.next_event}}
<div class="main-container section-1">
  <div class="main wrapper clearfix">
    <div class="grid-12">
      <h1 class="event-info">
          Our next event is <span class="event-title">{{name}}</span>.
      </h1>
    </div>

    <div class="grid-two-thirds">
      <h2>Details</h2>
      <span>{{{description}}}</span>
      <ul class="leaders">
          <li>
              <span><h2>Date</h2></span>
              <span>{{timestamp time format="dddd, MMMM D, YYYY" }}</span>
          </li>
          <li>
              <span><h2>Time</h2></span>
              <span>{{timestamp time format="h:mma" }}</span>
          </li>
          <li>
              <span><h2>Location</h2></span>
              <span>{{venue.name}}</span>
          </li>
      </ul>
    </div>
    <div class="grid-one-third" style="height:300px">
      <h2>Who's Coming?</h2>
      {{partial 'attendees'}}
      <div class="grid-12">
        <a href="#" {{action "rsvpClicked"}} class="button big-button">R.S.V.P.</a>
        <a {{bindAttr href="event_url" }} {{bindAttr data-event="id"}} class="mu-rsvp-btn hidden"></a>
      </div>
    </div>
    
  </div>
</div>
{{/with}}

<div class="main-container section-2">
  <div class="main wrapper clearfix">
    <h1 class="centered" style="clear:both">Our past events</h1>

      {{#each group.past_four_events }}

        <div class="grid-6">
          <h4>{{name}}</h4>
          {{{description}}}
          <div class="grid-12">
            <h3>attendees</h3>
            {{partial 'attendees'}}
          </div>
        </div>
      {{/each}}
  </div>
</div>

<div class="main-container section-3">
  <div class="main wrapper clearfix">
    <div class="grid-12">

      {{{group.description}}}
      <a href="http://www.meetup.com/Highland-Web-Group/join/" class="button big-button">Join Us!</a>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

    </div>
  </div>
</div>


</div> <!-- #main -->
</div> <!-- #main-container -->

<div class="footer-container">
  <footer class="wrapper">
    <p>Made by <a href="http://mrloop.com/">mrloop</a> 
    <a class="profile-pic" src="http://mrloop.com/">
        <span class="name">Ewan McDougall</span>
        <span class="mask">
          <img src="http://photos2.meetupstatic.com/photos/member/6/b/e/6/member_79647622.jpeg">
        </span>
      </a>

     and <a href="http://vivid-ness.co.uk">vivid-ness</a>

      <a class="profile-pic" src="http://www.vivid-ness.co.uk/">
      <span class="name">Alistair Chisholm</span>
      <span class="mask">
        <img src="http://photos1.meetupstatic.com/photos/member/1/c/6/1/member_11647265.jpeg">
      </span>

     <p>
    <p>

      </p>
    </a>
  </footer>
</div>
