<nav role="navigation" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Highland Web Group</a>
    </div>
  </div>
</nav>
<div id="main" role="main" class="container">
  {{{highland_web_group.description}}}

  <h2>Past Events</h2>
  {{#each event in past_events }}
    {{event.time}}
    {{{event.description}}}
    {{event_photo event}}
  {{/each}}

  <h2>Upcoming Events</h2>
  {{#each upcoming_events }}
    {{time}}
    {{{description}}}
  {{/each}}

</div>
