<div class="main-container section-1">
  <div class="main wrapper clearfix">
    <div class="grid-12">
      <h1 class="event-info">
          Our next event is <span class="event-title">{{next_event.name}}</span>.
      </h1>
    </div>

    <div class="grid-two-thirds">
      <h2>Details</h2>
      <span>{{{next_event.description}}}</span>
{{ log next_event}}
      <ul class="leaders">
          <li>
              <span><h2>Date</h2></span>
              <span>{{timestamp next_event.time format="dddd, MMMM D, YYYY" }}</span>
          </li>
          <li>
              <span><h2>Time</h2></span>
              <span>{{timestamp next_event.time format="h:mma" }}</span>
          </li>
          <li>
              <span><h2>Location</h2></span>
              <span>{{next_event.venue.name}}</span>
          </li>
      </ul>
    </div>
    <div class="grid-one-third" style="height:300px">
      <h2>Who's Coming?</h2>
        <a class="profile-pic" href="http://www.meetup.com/members/13684450">
            <span class="name">Alistair Chisholm</span>
            <span class="mask">
                <img src="http://photos1.meetupstatic.com/photos/member/4/f/1/member_11647265.jpeg">
            </span>
        </a><a class="profile-pic" href="http://www.meetup.com/members/8357569">
            <span class="name">Blair Millen</span>
            <span class="mask">
                <img src="http://photos1.meetupstatic.com/photos/member/d/0/f/member_5175343.jpeg">
            </span>
        </a><a class="profile-pic" href="http://www.meetup.com/members/79221432">
            <span class="name">Jennifer Massie</span>
            <span class="mask">
                <img src="http://photos1.meetupstatic.com/photos/member/4/8/member_95754072.jpeg">
            </span>
        </a><a class="profile-pic" href="http://www.meetup.com/members/22709111">
            <span class="name">Kirsty Foster</span>
            <span class="mask">
                <img src="http://photos1.meetupstatic.com/photos/member/1/0/b/9/member_21370281.jpeg">
            </span>
        </a>
    </div>

  </div>
</div>

<div class="main-container section-2">
        <div class="main wrapper clearfix">

            <h2 style="clear:both">Previous events</h2>

            <div class="grid-3">
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
                <div class="grid-12">
                <h3>attendees</h3>
                <a class="profile-pic" href="http://www.meetup.com/members/13684450">
                    <span class="name">Alistair Chisholm</span>
                    <span class="mask">
                        <img src="http://photos1.meetupstatic.com/photos/member/4/f/1/member_11647265.jpeg">
                    </span>
                </a><a class="profile-pic" href="http://www.meetup.com/members/8357569">
                    <span class="name">Blair Millen</span>
                    <span class="mask">
                        <img src="http://photos1.meetupstatic.com/photos/member/d/0/f/member_5175343.jpeg">
                    </span>
                </a><a class="profile-pic" href="http://www.meetup.com/members/79221432">
                    <span class="name">Jennifer Massie</span>
                    <span class="mask">
                        <img src="http://photos1.meetupstatic.com/photos/member/4/8/member_95754072.jpeg">
                    </span>
                </a><a class="profile-pic" href="http://www.meetup.com/members/22709111">
                    <span class="name">Kirsty Foster</span>
                    <span class="mask">
                        <img src="http://photos1.meetupstatic.com/photos/member/1/0/b/9/member_21370281.jpeg">
                    </span>
                </a>
                <a class="profile-pic" href="http://www.meetup.com/members/13684450">
                    <span class="name">Alistair Chisholm</span>
                    <span class="mask">
                        <img src="http://photos1.meetupstatic.com/photos/member/4/f/1/member_11647265.jpeg">
                    </span>
                </a><a class="profile-pic" href="http://www.meetup.com/members/8357569">
                    <span class="name">Blair Millen</span>
                    <span class="mask">
                        <img src="http://photos1.meetupstatic.com/photos/member/d/0/f/member_5175343.jpeg">
                    </span>
                </a><a class="profile-pic" href="http://www.meetup.com/members/79221432">
                    <span class="name">Jennifer Massie</span>
                    <span class="mask">
                        <img src="http://photos1.meetupstatic.com/photos/member/4/8/member_95754072.jpeg">
                    </span>
                </a><a class="profile-pic" href="http://www.meetup.com/members/22709111">
                    <span class="name">Kirsty Foster</span>
                    <span class="mask">
                        <img src="http://photos1.meetupstatic.com/photos/member/1/0/b/9/member_21370281.jpeg">
                    </span>
                </a>
            </div>
            </div>
            <div class="grid-3">
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            </div>
            <div class="grid-3">
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            </div>
            <div class="grid-3">
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            </div>
</div>
</div>
<div class="main-container section-3">
        <div class="main wrapper clearfix">

            <div class="grid-12">

                <p>Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>

                <a href="#" class="button big-button">Join Us!</a>

                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

            </div>

  {{{group.first.description}}}

  <h2>Past Events</h2>
  {{#each event in past_events }}
    {{event.time}}
    {{{event.description}}}
    {{event_photo event}}
  {{/each}}

  <h2>Upcoming Events</h2>
  {{#each upcoming_events }}
    {{time}}
    {{{description}}}
  {{/each}}

</div> <!-- #main -->
</div> <!-- #main-container -->

<div class="footer-container">
    <footer class="wrapper">
        <h3>Footnotes go here...</h3>
    </footer>
</div>
