
{{{ groups.firstObject.description }}}

<h2>Past Events</h2>
{{#each event in past_events }}
  {{event.time}}
  {{{event.description}}}
  {{event_photo event}}
{{/each}}

<h2>Upcoming Events</h2>
{{#each upcoming_events }}
  {{time}}
  {{{description}}}
{{/each}}

